<div class="container">
  <h1>Editing Request Course</h1>

  <%= render 'form', request_course: @request_course %>

  <%= link_to 'Show', @request_course %> |
  <%= link_to 'Back', request_courses_path %>
</div>